.a{
	background-color: red;
	width: 30px;
	height: 30px;
	float: left;
	margin: 4px;
	text-align: center;
}
.b{
	background-color: blue;
	width: 30px;
	height: 30px;
	margin: 4px;
	float: right;
	text-align: center;

}
.c{
	background-color: green;
	width: 30px;
	height: 30px;
	float: left;
	margin: 4px;
	clear: left;
	text-align: center;
}
.d{
	background-color: purple;
	width: 30px;
	height: 30px;
	float: right;
	margin: 4px;
	text-align: center;
}
