.flex-container {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
}
.header {
    position: fixed;
    width: 100%;
    padding: 20px;
    flex: 100%;
    height: 30px;
    background: transparent;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    color: white;
    font-family: consolas;
}
.active{
    background-color: black;
}
.header-title{
    float: left;
    font-size: 30px;
}
.header-list{
    padding-top: 5px;
    font-size: 20px;
    float: right;
}
.header-list a{
    float: left;
    padding-right: 50px;
    color: white;
    text-decoration: none;
}
.home {
    background: url('./assets/bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    flex: 100%;
    height: 100vh;
    z-index: -1;
}
.home-text{
    margin-top: 250px;
    width: 600px;
    left: 50;
    position: absolute;
    color: white;
}
.home-text-title{
    font-size: 80px;
    font-family: consolas;
}
.home-text-body{
    font-size: 20px;
    font-family: Sans-serif;
}
.about {
    padding: 10px;
    flex: 100%;
    height: 100vh;
}
.about-flex{
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    margin: auto;
}
.about-head{
    font-family: 'Consolas';
    text-align: center;
    font-size: 55px;
    flex: 100%;
    height: 10vh;
    margin: 27px 0px 18px 0px;
}
.about-content{
    flex: 100%;
    height: 20vh;
    margin-bottom: 80px;
}
.about-container{
    text-align: center;
    margin: auto;
    width: 60%;
    font-family: Sans-serif;
    color: #555555;
    font-size: 20px;
    padding-bottom: 40px;
}
.grid-container{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    margin: auto;
    width: 80%;
    flex: 100%;
    height: 340px;
}
.grid{
    width: 400px;
    padding: 10px;
    height: 300px;
    text-align: center;
}
.grid-head{
    font-size:35px;
    font-family: 'Consolas';
    margin: 27px 0px 13.5px 0px;
}
.grid-content{
    margin: 0px 0px 13.5px 0px;
    font-size: 17px;
    font-family: Sans-serif;
    color: #555555;
}
.services {
    background-color: #dbdbdb;
    padding: 10px;
    flex: 100%;
    height: 140vh;
    color: black;
}
.services-head{
    text-align: center;
    font-size: 55px;
    font-family: consolas;
}
.serivces-flex{
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
}
.serivces-grid{
    height: 35vh;
    padding: 10px;
    flex: 100%;
    display:grid;
    grid-template-columns:40.7% 0.3% 59%;
}
.ser-grid{
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: consolas;
}
.ser-hr{
    background-color: black;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ser-grid-cont{
    margin: auto;
    width: 60%;
    font-family: sans-serif;
    font-size: 20px;
}
.contact {
    flex: 100%;
    text-align: center;
    height: 70vh;
    background-color: black;
}
.contactus{
    background-color: white;
    padding: 10vh;
    height: 30%;
    border-radius: 0% 0% 120px 120px;
}
.contact div p{
    margin: auto;
    padding: 30px;
    font-family: calibri;
    font-size: 60px;
    width: 60%;
    text-align: center;
}
.contact div a{
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 30px;
    margin: auto;
    padding: 10px;
    font-family: calibri;
    width: 20%;
    text-decoration: none;
}
.contact a:hover{
    background-color: grey;
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 30px;
    margin: auto;
    height: auto;
    color: white;
    font-family: calibri;
}
.footer-grid{
    text-align: left;
}
.info{
    margin-left: 10vh;
    width: 100%
}
.info-name{
    width: 100%;
    font-size: 35px;
    padding-bottom: 10px;
}
.line{
    width: 300px;
    background-color: white;
    height: 1px;
}
.footer-cont{
    margin-top: 20px;
}
.Cont-us{
    padding-top: 20px;
}
.cont-name{
    font-size: 25px;
}
.line2{
    width: 100px;
    background-color: white;
    height: 1px;
}
.footer-cont2{
    margin-top: 10px;
    font-size: 17.5px;
}
.footer-cont2 i{
    margin-right: 7px;
}