.container{
	display: flex;
	justify-content: space-evenly;
}
.item1{
	width: 70px;
	height: 50px;
	background-color: red;
}
.item2{
	width: 105px;
	height: 50px;
	background-color: green;
}
.item3{
	width: 90px;
	height: 50px;
	background-color: purple;
}
.item4{
	width: 80px;
	height: 50px;
	background-color: yellow;
}
.container2{
	display: flex;
	align-content: stretch;
}
.item5{
	width: 70px;
	height: 50px;
	background-color: red;
}
.item6{
	width: 105px;
	height: 50px;
	background-color: green;
}
.item7{
	width: 90px;
	height: 50px;
	background-color: purple;
}
.item8{
	width: 80px;
	height: 50px;
	background-color: yellow;
}